<div class="row">
    <div class="col">
        <button class="btn btn-secondary" [routerLink]="['/sabla-add']" >Ŋmaa Sabla Hei</button>
    </div>
    
    <div class="col col-lg-4 col-lg-offset-4">
        <p>
            <input #query
            (keyup)="filter(query.value)"
            type="text" class="form-control" placeholder="Tawɔmɔ...">
          </p>
    </div>
</div>
<data-table
 [items]="items" 
 [itemCount]="itemCount" 
 (reload)="reloadItems($event)"
 [pagination]="false"
 [indexColumn]="false"
 >

  <data-table-column [property]="'name'" [header]="'Gbɛi'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <!-- {{item.name}} -->
      <a [routerLink]="['sabla-edit',item.$key]">{{item.name}}</a>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'gender'" [header]="'Nuu/Yoo'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{item.gender}}
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'sabla'" [header]="'Sabla'" [sortable]="true" [resizable]="true" >
    <ng-template #dataTableCell let-item="item" >
      {{item.sabla}}
    </ng-template>
  </data-table-column>
  <!-- <data-table-column [property]="'$key'">
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['sabla-edit',item.$key]">Tsakemɔ</a>
    </ng-template>
  </data-table-column> -->
</data-table>
